@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root {
    --title-ffamily: "Pacifico", cursive;
    --sec-title-ffamily: "Righteous", sans-serif;
    --main-ffamily: "Poppins", sans-serif;
    --bg-color: #F7ECDE;
    --title-color: #352E28;
    --main-text-color: #272727;
    --title-bg-color: #FEC260;
    --addBtn-bg-color: #d1512d;
    --addBtn-hover-bg: #bb4120;
    --btn-text-color: white;
    --btn-transition: 0.3s all ease-in-out;
    --visitBtn-bg-color: #9eb23b;
    --visitBtn-hover-bg: #8a9e23;
}

body {
    font-family: var(--main-ffamily);
    background-color: var(--bg-color);
    min-width: 360px;
}

/* **************** Header **************** */

h1 {
    font-family: var(--title-ffamily);
    font-size: 3.123rem;
    color: var(--title-color);
    position: relative;
    width: fit-content;
    margin: auto;
    z-index: 0;
}

h1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30%;
    background-color: var(--title-bg-color);
    bottom: 0;
    z-index: -1;
    transition: 0.3s all ease-out;
}

h1:hover::before {
    height: 70%;
}

#addBtn {
    color: var(--btn-text-color);
    background-color: var(--addBtn-bg-color);
    transition: var(--btn-transition);
}

#addBtn:hover {
    background-color: var(--addBtn-hover-bg);
}

#addBtn:active {
    background-color: var(--addBtn-bg-color);
}

/* ***************************************** */

/* **************** Main **************** */

h2 {
    font-family: var(--sec-title-ffamily);
    font-size: 1.5625rem;
    color: transparent;
    width: fit-content;
    margin: auto;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-background-clip: text;
}

.add-bookmark-section {
    border-top: 2px var(--main-text-color) dotted;
    border-bottom: 2px var(--main-text-color) dotted;
}

i:not(.fa-bookmark) {
    margin-right: 4px;
}

label,
th,
td {
    font-size: 1rem;
}

th,
td {
    vertical-align: middle;
}

#visitBtn {
    background-color: var(--visitBtn-bg-color);
    color: var(--btn-text-color);
    transition: var(--btn-transition);
}

#visitBtn:hover {
    background-color: var(--visitBtn-hover-bg);
}

#visitBtn:active {
    background-color: var(--visitBtn-bg-color);
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 1.45rem;
    }

    th,
    td,
    .btn {
        font-size: 0.8rem;
    }
}

/* ************************************* */